# HW1 - Applied Quantitative Logistics

## Definitions

**Brute Force:** straightforward methods of solving a problem that rely on sheer computing power and trying every possibility rather than advanced techniques to improve efficiency. [link](https://textbooks.cs.ksu.edu/cc310/4-data-structures-and-algorithms/12-brute-force/#:~:text=Simply%20put%2C%20a%20brute%20force,over%20and%20try%20the%20other.)

- A brute force algorithm solves a problem through exhaustion: it goes through all possible choices until a solution is found.

- The time complexity of a brute force algorithm is often proportional to the input size.

- Brute force algorithms are simple and consistent, but very slow.

Instruction for submission:

- Please submit your solutions in (.ipynb) format to my email (msohrabi@hse.ru).

- Deadline: **February 3, 2023, 11:59 pm.**

- The subject of the email: **[HW1_AQL]-YOUR_NAME**

In [1]:
import pandas as pd

### Requirements

In [2]:
df_resources = pd.DataFrame([[1, "A"], [2, "B"], [3, "C"],
                             [4, "D"],[5, "E"]], columns=["ID", "Name"])
df_resources

   ID Name
0   1    A
1   2    B
2   3    C
3   4    D
4   5    E

In [3]:
df_projects = pd.DataFrame([[1, "a", "10.05.2020", "15.05.2020"], [2, "b", "13.05.2020", "27.07.2020"],
                            [3, "c", "08.07.2020", "30.07.2020"], [4, "d", "11.12.2020", "29.12.2020"],
                            [5, "e", "06.11.2020", "07.11.2020"]], 
                           columns=["ID", "Name", "Start Time", "End Time"])
df_projects

   ID Name  Start Time    End Time
0   1    a  10.05.2020  15.05.2020
1   2    b  13.05.2020  27.07.2020
2   3    c  08.07.2020  30.07.2020
3   4    d  11.12.2020  29.12.2020
4   5    e  06.11.2020  07.11.2020

In [4]:
df_expertise = pd.DataFrame([[1, 1, 1], [2, 5, 3], [3, 2, 4], [4, 4, 5], [5, 3, 2], [6, 2, 1], [7, 3, 1], [8, 2, 2]],
                           columns=["ID", "ID_res", "ID_pro"])

df_expertise

   ID  ID_res  ID_pro
0   1       1       1
1   2       5       3
2   3       2       4
3   4       4       5
4   5       3       2
5   6       2       1
6   7       3       1
7   8       2       2

### All Feasible Combinations

In [5]:
# merge df_expertise with df_resources to get resource names
df_combined1 = pd.merge(df_expertise, df_resources, left_on='ID_res', right_on='ID')

# merge df_combined1 with df_projects to get project names
df_combined2 = pd.merge(df_combined1, df_projects, left_on='ID_pro', right_on='ID')

# drop unnecessary columns
df_combined2.drop(['ID_x', 'ID_y', 'ID'], axis=1, inplace=True)

# rename columns for clarity
df_combined2.rename(columns={'Name_x': 'Resource Name', 'Name_y': 'Project Name'}, inplace=True)

# print final combined dataframe
print(df_combined2)

   ID_res  ID_pro Resource Name Project Name  Start Time    End Time
0       1       1             A            a  10.05.2020  15.05.2020
1       2       1             B            a  10.05.2020  15.05.2020
2       3       1             C            a  10.05.2020  15.05.2020
3       5       3             E            c  08.07.2020  30.07.2020
4       2       4             B            d  11.12.2020  29.12.2020
5       2       2             B            b  13.05.2020  27.07.2020
6       3       2             C            b  13.05.2020  27.07.2020
7       4       5             D            e  06.11.2020  07.11.2020

In [7]:
import itertools
# find unique project names
projects = df_combined2['Project Name'].unique()

# find resources for each project
resources_for_project = {}
for proj in projects:
    resources = df_combined2[df_combined2['Project Name'] == proj]['Resource Name'].tolist()
    resources_for_project[proj] = resources

# find all combinations of resources for each project
combinations = list(itertools.product(*resources_for_project.values()))

# map project names to combinations
allocations = []
for comb in combinations:
    allocation = [(proj, res) for proj, res in zip(projects, comb)]
    allocations.append(allocation)

# print all possible allocations
for i, allocation in enumerate(allocations):
    print(f"Allocation {i + 1}: {allocation}")

Allocation 1: [('a', 'A'), ('c', 'E'), ('d', 'B'), ('b', 'B'), ('e', 'D')]
Allocation 2: [('a', 'A'), ('c', 'E'), ('d', 'B'), ('b', 'C'), ('e', 'D')]
Allocation 3: [('a', 'B'), ('c', 'E'), ('d', 'B'), ('b', 'B'), ('e', 'D')]
Allocation 4: [('a', 'B'), ('c', 'E'), ('d', 'B'), ('b', 'C'), ('e', 'D')]
Allocation 5: [('a', 'C'), ('c', 'E'), ('d', 'B'), ('b', 'B'), ('e', 'D')]
Allocation 6: [('a', 'C'), ('c', 'E'), ('d', 'B'), ('b', 'C'), ('e', 'D')]

In [13]:
df_projects['Start Time'] = pd.to_datetime(df_projects['Start Time'], format='%d.%m.%Y')
df_projects['End Time'] = pd.to_datetime(df_projects['End Time'], format='%d.%m.%Y')

overlap_detected = False
for i in range(len(df_projects)):
    for j in range(i+1, len(df_projects)):
        start_time_1 = df_projects.loc[i, 'Start Time']
        end_time_1 = df_projects.loc[i, 'End Time']
        start_time_2 = df_projects.loc[j, 'Start Time']
        end_time_2 = df_projects.loc[j, 'End Time']
        
        if (start_time_1 <= end_time_2) & (start_time_2 <= end_time_1):
            overlap_detected = True
            print(f"Overlap detected between projects {df_projects.loc[i, 'Name']} and {df_projects.loc[j, 'Name']}")
            
if not overlap_detected:
    print("No overlap detected between projects")

Overlap detected between projects a and b
Overlap detected between projects b and c

### Brute Force - [Algorithm Name]

In [17]:
# convert start and end time to datetime format
df_projects['Start Time'] = pd.to_datetime(df_projects['Start Time'], format='%d.%m.%Y')
df_projects['End Time'] = pd.to_datetime(df_projects['End Time'], format='%d.%m.%Y')


#A list to store allocations without overlap
allocations_without_overlap = []

for allocation in allocations:
    # Get the names of projects in the allocation
    allocation_projects = [proj for proj, res in allocation]
    # Get the dataframe with only the projects in the allocation
    df_allocation = df_projects[df_projects['Name'].isin(allocation_projects)]
    #A flag to check if there is overlap between projects in the same allocation
    overlap_detected = False
    # Check if there is overlap between projects in the allocation
    for i in range(len(df_allocation)):
        for j in range(i+1, len(df_allocation)):
            start_time_1 = df_allocation.loc[i, 'Start Time']
            end_time_1 = df_allocation.loc[i, 'End Time']
            start_time_2 = df_allocation.loc[j, 'Start Time']
            end_time_2 = df_allocation.loc[j, 'End Time']
            # check if the projects overlap
            if (start_time_1 <= end_time_2) & (start_time_2 <= end_time_1):
            # get the resources for the overlapping projects
                res_1 = [res for proj, res in allocation if proj == df_allocation.loc[i, 'Name']]
                res_2 = [res for proj, res in allocation if proj == df_allocation.loc[j, 'Name']]
            # check if the overlapping projects use the same resource
            if res_1 == res_2:
                overlap_detected = True
                break
        # If there is overlap, set the flag to True and break out of the inner loop
        if overlap_detected:
            break
    # If there is no overlap in the allocation, append it to the list of allocations without overlap
    if not overlap_detected:
        allocations_without_overlap.append(allocation)

### Print the Solutions

In [16]:
# If there are allocations without overlap, print them
if allocations_without_overlap:
    for i, allocation in enumerate(allocations_without_overlap):
        print(f"Allocation {i + 1} without overlap: {allocation}")
else:
    print("No allocations without overlap detected")

Allocation 1 without overlap: [('a', 'A'), ('c', 'E'), ('d', 'B'), ('b', 'B'), ('e', 'D')]
Allocation 2 without overlap: [('a', 'A'), ('c', 'E'), ('d', 'B'), ('b', 'C'), ('e', 'D')]
Allocation 3 without overlap: [('a', 'B'), ('c', 'E'), ('d', 'B'), ('b', 'C'), ('e', 'D')]
Allocation 4 without overlap: [('a', 'C'), ('c', 'E'), ('d', 'B'), ('b', 'B'), ('e', 'D')]

In [1]:
print("Time complexity: O(N^2), where N is the number of projects in the allocation")

Time complexity: O(N^2), where N is the number of projects in the allocation